/**
 * Directory listing stylesheet
 *
 * @author Pierre HUBERT
 */

body {
	background-color: #000000f0;
	color: #bdb3b3;
}


a, a:visited {
	text-decoration: none;
	color: deepskyblue;
}

a img {
	vertical-align: middle;
}

ul {
	padding: 0px;
}

li {
	list-style: none;
	margin-bottom: 5px;
}
